/* aside {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: #ccc;
    right: 0;
} */
.cover {
    /* display: none; */
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(1, 1, 1, .3)
}

.box {
    width: 70%;
    min-height: 20vh;
    max-height: 70vh;
    /* overflow-y: scroll; */
    background-color: #fff;
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100px;
    margin: auto
}
textarea.add{
    display: block
}